$background: #4D2B10;

$naam: #2F200D;

$baard: #4D2B10;

$head: #2F200D;

$huidskleur: #B8856A;

$oog: white;

$pupil: #463C6E;

$black:  #000000;

$white: #ffffff;

$neusBeneden: #9F574B;

$neusBoven: #7C4B44;